{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "targets": {
        "uglify": true,
        "ios": 8
      }
    }],
  ],
  "env": {
    "test": {
      "presets": [
        ["env", { "targets": { "node": "current" }}]
      ]
    }
  }
}
