// ============================================================
// Frogkit variables
// ============================================================

$colors := {
  orange: {
    base: #f18713,
    dark: #cd7310,
    light: #f8c389
  },
  blue: {
    base: #2f82c4,
    dark: #286fa7,
    light: #97c1e2
  },
  grey: {
    base: #A7A7A7,
    dark: #7A7A7A,
    light: #D5D5D5
  },
}
