// ============================================================
// Frogkit variables
// ============================================================

$font-size-root = 10px
$body-font-family = Roboto Condensed,sans-serif
$line-height-root = 1.5



$colors := {
  orange: {
    base: #f18713,
    dark: #cd7310,
    light: #f8c389
  },
  blue: {
    base: #2f82c4,
    dark: #286fa7,
    light: #97c1e2
  },
  grey: {
    base: #A7A7A7,
    dark: #7A7A7A,
    light: #D5D5D5
  },
}

$colors-typography := {
  orange: {
    base: #f18713
  },
  blue: {
    base: #2f82c4
  },
  grey: {
    base: #414141,
    light: #7a7a7a
  }
}
