// ============================================================
// Frogkit variables
// ============================================================

$font-size-root = 10px
$body-font-family = Roboto Condensed,sans-serif
$line-height-root = 1.5

// ============================================================
// Breakpoints
// ============================================================

$bp-xs = 0
$bp-sm = 768px // 600px
$bp-md = 992px // 960px
$bp-lg = 1200px // (1280px - 16px) // Desktop gets a 16dp reduction
// $bp-xl = (1920px - 16px) // https://material.io/guidelines/layout/responsive-ui.html#responsive-ui-breakpoints

$under-sm = $bp-sm - 1
$under-md = $bp-md - 1
$under-lg = $bp-lg - 1