@require './_vars'

margin-mixin($margin)
  .m-{$margin}
    margin: $margin
  .m-t-{$margin}
    margin-top: $margin
  .m-r-{$margin}
    margin-right: $margin
  .m-b-{$margin}
    margin-bottom: $margin
  .m-l-{$margin} 
    margin-left: $margin

margin-factory(n)
  for num in (1..n)
    $margin = unit((num * 10), 'px')
    margin-mixin($margin)

margin-factory(5)
margin-mixin(15px)


media-mobile()
  @media (max-width: $under-sm)
    {block}

media-tablet()
  @media (min-width: $bp-sm) and (max-width: $under-md)
    {block}

media-desktop()
  @media (min-width: $bp-lg)
    {block}