$white = #fff

appButtonsMixin()
  display: inline-block
  font-size: 0.9rem
  background-repeat: no-repeat
  background-size: cover
  font-family: Arial, Helvetica,'sans-serif'
  width: 128px
  height: 40px
  line-height: 2.3
  background-position: 0
  padding-left: 37px
  color: $white
  text-decoration: none
  &:focus
    outline: none
  &.apple
    background-image: url('../assets/app-store-badge.svg')
    margin-right: 9px
  &.google
    background-image: url('../assets/google-play-badge.svg')
