@require '../_vars'

$colors := {
  orange: {
    base: #f18713,
    dark: #cd7310,
    light: #f8c389
  },
  blue: {
    base: #2f82c4,
    dark: #286fa7,
    light: #97c1e2
  },
  grey: {
    base: #A7A7A7,
    dark: #7A7A7A,
    light: #D5D5D5
  },
}

default = {
  padding: 0 10px
  height: 44px
  border-radius: 4px
  font-size: 2rem
}

small = {
  padding: 0 20px
  height: 36px
  border-radius: 4px
  font-size: 1.8rem

}

big = {
  padding: 0 20px
  height: 60px
  border-radius: 8px
  font-size: 2.5rem
}

$button-skeleton
  {default}
  font-family: $body-font-family
  text-align: center
  // border none
  display: inline-block
  text-decoration: none
  user-select none
  border-width: 2px
  border-style: solid
  line-height: (@height - (@border-width * 2))
  vertical-align: middle
  outline: none
  text-transform: capitalize
  transition: border-color background-color color 300ms
  &:disabled,
  &[disabled]
    cursor: not-allowed
  &&--small
    {small}
    line-height (@height - (@border-width * 2))
  &&--big
    {big}
    line-height (@height - (@border-width * 2))
  &&--block
    width: 100%
    display: block

button-outline($color)
  background: transparent
  color: $color.base
  border: $color.base 2px solid
  &:hover,
  &:focus
    color: $color.dark
    border-color: $color.dark
  &:disabled,
  &[disabled]
    color: $color.light
    border-color: $color.light

button-variation($color)
  color: #ffffff
  background-color: $color.base
  border-color: $color.base
  &:hover,
  &:focus
    background-color: $color.dark
    border-color: $color.dark
  &:disabled,
  &[disabled]
    background-color: $color.light
    border-color: $color.light
  &^[0]--outline
    button-outline($color)

button-mixin()
  @extends $button-skeleton
  button-variation($colors.grey)
  &&--primary
    button-variation($colors.orange)
  &&--secondary
    button-variation($colors.blue)
