@require '../_vars'

// Grid
// ============================================================
$grid-breakpoints := {
  xs: $bp-xs
  sm: $bp-sm
  md: $bp-md
  lg: $bp-lg
  // xl: (1920px - 16px) // https://material.io/guidelines/layout/responsive-ui.html#responsive-ui-breakpoints
}

$grid-gutter = 8px
$grid-columns := 12

$container-max-widths := {
  sm: $grid-breakpoints.sm
  md: $grid-breakpoints.md
  lg: $grid-breakpoints.lg
  // xl: $grid-breakpoints.xl
}

grid-mixin()
  width: 100%
  display: flex
  flex: 1 1 100%
  flex-wrap: wrap
  margin: auto
  // padding: $grid-gutter
  // flex-direction: column
  for size, width in $container-max-widths
    @media only screen and (min-width: width)
      max-width: (width * 0.9375) // Credit to bootstrap
  &&--fluid
    max-width: 100%

row-mixin()
  width: 100%
  display: flex
  flex: 1 1 100%
  flex-wrap: wrap
  &&--center
    justify-content: center

col-mixin()
  padding: 0 ($grid-gutter)px
  flex 1
  for size, width in $grid-breakpoints
    @media all and (min-width: width)
      for n in (1..$grid-columns)
        &.{size}{n}
          // padding: $grid-gutters[size]px
          flex-basis: (n / $grid-columns * 100)%
          max-width: (n / $grid-columns * 100)%

      // for n in (0..$grid-columns)
      //   &.offset-{size}{n}
      //     margin-left: (n / $grid-columns * 100)%
