input-password-mixin()
  &__img
    display: block
    position: absolute
    height: 30px
    width: 30px
    background: center center no-repeat
    cursor pointer
    background-image url('../assets/images/password-visible.png') 
  &__show-pass
    background-position: 8px -35px
  &__hide-pass
    background-position: 6px 17px