payment-methods()  
  &__visa
    width 72px
    height 24px
  &__masterCard
    width 50px
    height 38px
  &__americanExpress
    width 30px
    height @width
  &__sepa
    width 94px
    height 26px
  &__klarna
    width 112px
    height 25px
  &__ec
    width 34px
    height 40px
  &__paypal
    width 120px
    height 32px 