@import '../_vars'

$orange = #f18713
$grey = #d5d5d5
$bp-large = 1120px
$bp-medium = 822px

responsive-mixin()
  @media(min-width $bp-large)
    max-width 370px
    &__info
      padding 0 40px 20px 40px

  @media(max-width $bp-large - 1)
    max-width 300px
    font-size 1.2rem
    &__info
      padding 0 30px 20px 30px
    &__price
      font-size 0.85rem !important

  @media(max-width $bp-md)
    max-width 270px
    font-size 1.8rem
    &__info
      padding 0 25px 20px 25px
    &__price
      font-size 0.8rem !important
    &__feature-item
      font-size 1.1rem !important

  @media(max-width $bp-medium)
    max-width 250px
    font-size 1.5rem
    &__info
      padding 0 15px 20px 15px
    &__price
      font-size 0.78rem !important
    &__feature-item
      font-size 1rem !important

features-mixin($color)
  background-color $color
  

mobile-view($color)
  min-height 600px
  flex-basis 100%
  align-items unset !important
  min-width 320px
  &__features
    background-color $color

product-bundle-mixin()
  background-color white
  &__info
    margin-top auto
    a
      color #3180ca
      text-decoration none
      font-size 16px
  &__features, &__features--nhw
    padding 15px 0
  @media(min-width $bp-sm)
    border-radius 5px
    min-height 600px
    responsive-mixin()
    &__title
      margin 5px 0 10px 0
    &__container, &__container--nhw
      flex-basis 100%
      align-items unset !important
      flex-wrap: wrap
      justify-content: space-between
      border 2px solid $orange
      &--nhw
        border 2px solid $grey
    &__features
      background-color $orange
      &--nhw
        background-color $grey

  @media(max-width $bp-sm - 1)
    min-width: 320px
    width 100%
    &__title
      display: none
    &__container
      mobile-view($orange)
    &__container--nhw
      mobile-view($grey)

