@import '../_vars'

$orange = #f18713
$grey = #d5d5d5

responsive-mixin()
  @media(min-width $bp-lg)
    &__price
      font-size 0.8rem !important
    &__info
      padding 0 25px 20px 25px
    &__features__container
      padding 5px 0 0 48px
    
  @media(max-width $bp-lg - 1)
    &__info
      padding 0 30px 20px 30px
    &__action
      font-size 1.8rem !important
    &__price
      font-size 0.76rem !important
    &__features__container
      padding 7px 0 0 5%

  @media(max-width $bp-md)
    &__info
      padding 0 15px 20px 15px
    &__price
      font-size 0.65rem !important
    &__action
      font-size 1.6rem !important
    &__features__container
      padding 7px 0 5px 6%
      font-size 1rem !important


product-bundle-mixin()
  &__container
    &, &--nhw, &--nhw-top
      background-color white
  &__info
    width 100%
    margin-top auto
    a
      color #3180ca
      text-decoration none
      font-size 16px

  &__features__container
    font-size 1.2rem !important
  
  &__features
    width 100%
    &__highlited
      background-color $orange
      &--nhw
        background-color $grey
  
  &__additional-features
    margin-top 5px
  &__title
    margin 5px 0 10px 0
  &__price
    &__prefix, &__suffix
      max-width 62px
  &__container
    &, &--nhw, &--nhw-top
      width: 100%
      height 100%
      flex-basis 100%
      border-radius 5px
      border 2px solid $orange
  &__container--nhw
      border 2px solid $grey
  @media(min-width $bp-sm)
    min-height 600px
    position relative
    responsive-mixin()
    &__top-seller
      position absolute
      color: white
      top -3px
      left @top
      height 109px
      z-index 100
      width @height
      background-image url('../assets/images/topseller.png')
      b
        position absolute
        transform rotate(-45deg)
        top: 25px
        font-size: 21px
        display: block
        left: 1px

  @media(max-width $bp-sm - 1)
    margin-bottom 40px
    min-width: 320px
    width 100%
    position relative
    &__title
      display: none
    &__features__container
      width 260px
      margin: 0 auto
      padding-top 5px
      font-size 1.25rem !important

    &__container
      &, &--nhw, &--nhw-top
        flex-basis 100%
        border 0
    &__price
      font-size 0.8rem !important
    &__info
      margin-top 25px
      padding 0 15px
    &__top-seller
      color: white
      width: 65px
      height: 65px
      position: absolute
      right: 10px
      bottom: 120px
      border-radius: 50%
      background-color: #e30613
      b
        visibility: hidden
        &:after
          visibility: visible
          color white
          content: 'Top-seller'
          position absolute
          transform rotate(-15deg)
          top: 5px
          display: block
          left: 12px
          font-size 20px
          line-height 22px
          font-weight 600
