@import '../_vars'

$orange = #f18713
$grey = #d5d5d5
$bp-large = 1200px
$bp-medium = 822px

responsive-mixin()
  @media(min-width $bp-large)
    width 370px
    &__info
      padding 0 40px 20px 40px

  @media(max-width $bp-large - 1)
    width 320px
    &__info
      padding 0 30px 20px 30px

  @media(max-width $bp-md)
    width 270px
    &__info
      padding 0 25px 20px 25px
    &__price
      font-size 0.7rem !important

  @media(max-width $bp-medium)
    width 250px
    &__info
      padding 0 15px 20px 15px
    &__price
      font-size 0.7rem !important
    &__feature-item
      font-size 1rem !important

product-bundle-mixin()
  background-color white
  align-items unset !important
  &__container, &__container--nhw
    flex-wrap: unset !important
  &__info
    margin-top auto
    a
      color #3180ca
      text-decoration none
      font-size 16px
  &__features, &__features--nhw
    padding 5px 0
  &__features
    background-color $orange
    &--nhw
      background-color $grey
  &__price
    font-size 0.8rem !important

  @media(min-width $bp-sm)
    min-height 600px
    responsive-mixin()
    &__title
      margin 5px 0 10px 0
    &__price
      &__prefix, &__suffix
        max-width 50px
    &__container, &__container--nhw
      width: 100%
      flex-basis 100%
      border-radius 5px
      border 2px solid $orange
      align-items unset !important
      flex-wrap: nowrap
      &--nhw
        border 2px solid $grey


  @media(max-width $bp-sm - 1)
    min-width: 320px
    width 100%
    &__title
      display: none
    &__container, &__container--nhw
      flex-basis 100%
      align-items unset !important
    &__feature-item
      font-size 1.2rem !important
    &__info
      padding 0 15px
