$text-color := #f18713
ssl-badge()
  &__img
    height 60px
    width 40px
    &&--small
      height 36px
      width 26px
  &__text
    margin-left: 15px
    max-width: 160px
    color: $text-color
    line-height: 30px
    font-size: 20px
    &&--small
      line-height: 22px
      font-size: 16px
      max-width: 100%
      