@import '../_vars'

$grey = #d5d5d5
$bp-large = 1200px
$bp-medium = 822px
$image-height = 140px
$image-width = 180px

responsive-mixin()
  min-height 600px
  &__title
    margin 5px 0 10px 0
  &__container
    flex-basis: 100%
    border-radius 5px
    border 2px solid $grey

  @media(min-width $bp-large)
    &__price
      font-size 0.8rem !important
    &__info
      padding 0 25px 20px 25px

  @media(max-width $bp-large - 1)
    &__info
      padding 0 30px 20px 30px
    &__action
      font-size 1.8rem !important
    &__history
      font-size 1.6rem
    &__period__label
      font-size 1.6rem
    &__price
      font-size 0.76rem !important

  @media(max-width $bp-md)
    &__info
      padding 0 15px 20px 15px
    &__price
      font-size 0.65rem !important
    &__action
      font-size 1.6rem !important

  @media(max-width $bp-medium)
    &__info
      padding 0 15px 20px 15px
    &__price
      font-size 0.65rem !important


storage-bundle-mixin()
  background-color white
  padding 0 !important
  &__info
    margin-top auto
  &__price
    font-size 0.8rem !important
  &__icon
    background: url('../assets/images/sf-cloud.svg') no-repeat
    background-size: $image-height $image-width
    height: $image-height
    width: $image-width
    background-position: center center
  &__for
    font-size 15px
    margin-bottom: 10px
  &__devices
    width: 80% !important
  &__period
    margin-bottom: 5px
    &__label
      padding-left 10px
  &__history
    margin 10px 0
    font-size 2rem
  &__container
    height 100%
  &__canceled
    font-size 20px
    width 80%
    margin 20px auto
    text-align center
    line-height 28px

  @media(min-width $bp-sm)
    responsive-mixin()


  @media(max-width $bp-sm - 1)
    min-width: 320px
    width 100%
    &__title
      display: none
    &__container
      flex-basis: 100%
    &__info
      width 100%
      padding 15px
