$text-color := #414141
$colors := {
  red: #e20d00
  white: #fff
}
color-variation()
  for $color in $colors
    &&--{$color}
      color: $colors[$color]

tick-text-mixin()
  color: $text-color
  font-size 1em
  // line-height 2rem
  color-variation()
  & &__icon
    width 20px
    height 16px
    margin 5px
    display block
  &__placeholder
    font-size 1.6em
    line-height 1.3em 
    // text-transform capitalize
    margin-bottom 2px